{% extends "templates/layout.jinja" %}
{% block content %}
  {% include "templates/blocks/hero.jinja" %}
  {% include "templates/blocks/products.jinja" %} 
  {% include "templates/blocks/subscribe.jinja" %}  
{% endblock %}
