<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__name">
        <svg width="1096" height="117" viewBox="0 0 1096 117" class="hero__img">
          <use xlink:href="/img/svg.svg#icon-zaryad" />
        </svg>
      </div>
      <div class="swiper hero-slider js-hero-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="hero-slider__container">
              <article class="hero-slider__link">
                <img alt="" class="hero-slider__img" src="img/hero/hero_1.png" loading="lazy" decoding="async">
                <div class="hero-slider__content">
                  <h3 class="title-h3 hero-slider__title">Константин Константинович</h3>
                  <p class="text-style hero-slider__description">Крутой хоккеист такой-то команды</p>
                  <button class="button hero-slider__circle">
                    <svg width="21" height="23" viewBox="0 0 21 23">
                      <use xlink:href="/img/svg.svg#icon-play" />
                    </svg>
                    <svg width="117" height="116" viewBox="0 0 117 116" class="hero-slider__review">
                      <use xlink:href="/img/svg.svg#icon-review" />
                    </svg>
                  </button>
                </div>
              </article>
              <a href="coming-soon.html" class="button button__primary hero-slider__button">В каталог</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hero-slider__container">
              <article class="hero-slider__link">
                <img alt="" class="hero-slider__img" src="img/hero/hero_2.png" loading="lazy" decoding="async">
                <div class="hero-slider__content">
                  <h3 class="title-h3 hero-slider__title">Константин Константинович</h3>
                  <p class="text-style hero-slider__description">Крутой хоккеист такой-то команды</p>
                  <button class="button hero-slider__circle">
                    <svg width="21" height="23" viewBox="0 0 21 23">
                      <use xlink:href="/img/svg.svg#icon-play" />
                    </svg>
                    <svg width="117" height="116" viewBox="0 0 117 116" class="hero-slider__review">
                      <use xlink:href="/img/svg.svg#icon-review" />
                    </svg>
                  </button>
                </div>
              </article>
              <a href="coming-soon.html" class="button button__primary hero-slider__button">В каталог</a>
            </div>
          </div>
        </div>
        <div class="swiper-controls">
          <button class="swiper-hero-button-prev" aria-label="previous slide">
            <svg width="18" height="18" viewBox="0 0 18 18" class="icons__item">
              <use xlink:href="/img/svg.svg#icon-left" />
            </svg>
          </button>
          <button class="swiper-hero-button-next" aria-label="next slide">
            <svg width="18" height="18" viewBox="0 0 18 18" class="icons__item">
              <use xlink:href="/img/svg.svg#icon-right" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>