<section class="subscribe">
  <div class="container">
    <div class="subscribe__container">
      <div class="subscribe__content">
        <h2 class="subscribe__title title-h2">Получи 
          <span class="subscribe__flash">
            <svg width="64" height="63" viewBox="0 0 64 63">
              <use xlink:href="/img/svg.svg#icon-flash" />
            </svg>
          </span> 
          <br>
          <span class="subscribe__sale">
            <svg width="57" height="56" viewBox="0 0 57 56">
              <use xlink:href="/img/svg.svg#icon-sale" />
            </svg>
          </span> скидку 
          <span class="subscribe__discont">500 ₽</span> за подписку
        </h2>
        <p class="subscribe__description text-style">Никакого спама и рекламы, только полезная информация, скидки и персональные предложения</p>
        <form class="contact-form" name="contactForm">
          <div class="contact-form__field">
            <input id="id_email" type="email" name="email" placeholder="Ваш Email" class="contact-form__input js-input">
            <span class="message-input"></span>
          </div>
          <button type="submit" class="button button__primary">Подписаться</button>
        </form>
      </div>   
    </div>
      <div class="subscribe__picture">
        <img class="subscribe__img" alt="" 
        src="img/subscribe/subscribe_img.jpg"
        loading="lazy"
        decoding="async">
      </div>  
  </div>
</section>