.icons {
  &__item {
    fill: none;
    stroke: $color-ligth_gray;
    transition: stroke 0.4s ease-in;

    &:hover {
      stroke: $color-secondary;
    }
  }

  &__logo {
    fill: $color-logo;
    transition: fill 0.4s ease-in;

    &:hover {
      fill: $color-ligth_gray;
    }
  }

  &__cart {
    stroke: $color-secondary;
  }
}
