<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__top">
        <div>
          <svg width="261" height="27" viewBox="0 0 261 27">
            <use xlink:href="/img/svg.svg#icon-logo_lettered" />
          </svg>
        </div>
        <div class="social">
          <a href="https://t.me/zaryadhockey" class="social__link" target="_blank" rel="nofollow" aria-label="Telegram">
            <svg width="40" height="40" viewBox="0 0 40 40" class="social__icon">
              <use xlink:href="/img/svg.svg#icon-telegram" />
            </svg>
          </a>
          <a href="https://vk.com/zaryad_hockey" class="social__link" target="_blank" rel="nofollow" aria-label="Vk">
            <svg width="40" height="40" viewBox="0 0 40 40" class="social__icon">
              <use xlink:href="/img/svg.svg#icon-vk" />
            </svg>
          </a>
        </div>
        <button type="button" class="button button__secondary footer__button">Связаться с нами</button>
      </div>
      <div class="footer__bottom">
        <div class="footer__contacts">
          <div class="contacts">
            <div class="contacts__item">
              <span class="text-style text-style--wrapper">Наименование</span>
              <p class="text-style">ООО «ЗаряД»</p>
            </div>
            <div class="contacts__item">
              <span class="text-style text-style--wrapper">Юридический адрес</span>
              <p class="text-style">Республика Татарстан, г. Набережные Челны,
                ул. Альметьевский тракт, д. 6а</p>
            </div>
            <div class="contacts__wrapper">
              <div class="contacts__item contacts__item--couple">
                <span class="text-style text-style--wrapper">Телефон</span>
                <a href="tel:+78005119390" class="footer__contacts-link">+7 (800) 511-93-90</a>
              </div>
              <div class="contacts__item contacts__item--couple">
                <span class="text-style text-style--wrapper">Email</span>
                <a href="mailto:info@zaryad-hockey.ru" class="footer__contacts-link">info@zaryad-hockey.ru</a>
              </div>
            </div>
            <div class="contacts__wrapper">
              <div class="contacts__item contacts__item--couple">
                <span class="text-style text-style--wrapper">ИНН</span>
                <p class="text-style">1646040440</p>
              </div>
              <div class="contacts__item contacts__item--couple">
                <span class="text-style text-style--wrapper">ОГРН</span>
                <p class="text-style">1151674001632</p>
              </div>
            </div>
          </div>
          <div class="footer__copyright">
            <p class="text-style">© 2017-2022 Заряд</p>
            <a href="coming-soon.html" class="footer__privacy-policy">Политика конфиденциальности</a>
            <a href="https://imperium.im/" class="social__link footer__imperium" target="_blank" rel="nofollow" aria-label="Imperium Web">
            <svg width="132" height="32" viewBox="0 0 132 32">
              <use xlink:href="/img/svg.svg#icon-imperium" />
            </svg>
          </a>
          </div>
        </div>
        <nav class="footer__nav">
          <div class="footer__nav-wrapper">
            <div class="footer__menu">
              <h4 class="title-h4">О бренде</h4>
              <ul class="footer__list">
                <li><a href="coming-soon.html" class="footer__item text-style">История бренда</a></li>
                <li><a href="coming-soon.html" class="footer__item text-style">Технологии производства</a></li>
                <li><a href="coming-soon.html" class="footer__item text-style">Производство</a></li>
                <li><a href="coming-soon.html" class="footer__item text-style">Контакты магазинов</a></li>
              </ul>
            </div>
            <div class="footer__menu">
              <h4 class="title-h4">Партнерам</h4>
              <ul class="footer__list">
                <li><a href="coming-soon.html" class="footer__item text-style">Производство</a></li>
                <li><a href="coming-soon.html" class="footer__item text-style">Как мы работаем</a></li>
                <li><a href="coming-soon.html" class="footer__item text-style">Информация о выборе контрагентов</a></li>
              </ul>
            </div>
          </div>
          <div class="footer__nav-wrapper">
            <div class="footer__menu">
              <h4 class="title-h4">Покупателям</h4>
              <ul class="footer__list">
                <li><a href="coming-soon.html" class="footer__item text-style">Доставка и оплата</a></li>
                <li><a href="coming-soon.html" class="footer__item text-style">Обмен и возврат</a></li>
                <li><a href="coming-soon.html" class="footer__item text-style">Гарантия</a></li>
                <li><a href="coming-soon.html" class="footer__item text-style">Бонусная программа</a></li>
                <li><a href="coming-soon.html" class="footer__item text-style">Таблица размеров</a></li>
                <li><a href="coming-soon.html" class="footer__item text-style">Подарочный сертификат</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>

</footer>