<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="header__main">
        <a href="/" class="header__logo header__control">
          <svg width="62" height="30" viewBox="0 0 62 30" class="icons__logo">
            <use xlink:href="/img/svg.svg#icon-logo" />
          </svg>
        </a>
        <div class="header__buttons-lang">
          <button type="button" class="button button__lang button__lang--active js-btn_lang_choise" aria-label="Russian">Ru</button>
          <span>/</span>
          <button type="button" class="button button__lang js-btn_lang_choise" aria-label="English">En</button>
        </div>
      </div>
      <nav>
        <ul class="header__list">
          <li><a href="coming-soon.html" class="header__item text-style">Клюшки</a></li>
          <li><a href="coming-soon.html" class="header__item text-style">Одежда</a></li>
          <li><a href="coming-soon.html" class="header__item text-style">Аксессуары</a></li>
          <li><a href="coming-soon.html" class="header__item text-style">Кастомизация</a></li>
          <li><a href="coming-soon.html" class="header__item text-style">Отследить заказ</a></li>
        </ul>
      </nav>
      <div class="header__buttons">
        <div class="header__controls icons">
          <button class="button header__control" aria-label="Search">
            <svg width="26" height="26" viewBox="0 0 26 26" class="icons__item">
              <use xlink:href="/img/svg.svg#icon-search" />
            </svg>
          </button>
          <a href="tel:78005119390" class="header__control" aria-label="Phone">      
            <svg width="26" height="26" viewBox="0 0 26 26" class="icons__item">
              <use xlink:href="/img/svg.svg#icon-phone" />
            </svg>
          </a>
          <button class="button header__control" aria-label="Stats">
            <svg width="26" height="26" viewBox="0 0 26 26" class="icons__item">
              <use xlink:href="/img/svg.svg#icon-graph" />
            </svg>
          </button>
          <button class="button header__control" aria-label="Login">
            <svg width="26" height="26" viewBox="0 0 26 26" class="icons__item">
              <use xlink:href="/img/svg.svg#icon-login" />
            </svg>
          </button>
        </div>
        <div>
          <a href="coming-soon.html" class="header__cart header__control" aria-label="Cart">      
            <svg width="54" height="54" viewBox="0 0 54 54" class="icons__cart">
              <use xlink:href="/img/svg.svg#icon-cart" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>